## Python
**/__pycache__/
**/.pytest_cache/
**/*.pcd
**/*.py[cod]
**/*.pyc
**/*$py.class
**/build/
**/*.egg-info/

## Virtual environments
.env
.venv
env.bak/
env/
ENV/
venv.bak/
venv/

## VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/*.code-snippets

## Logs
**/logs/
**/logdir/
**/logdir_*/

## Datasets
**/datasets/

## 2023 stack outputs and pretrained checkpoints
logs_2023/
data_2023/
drl_air_hockey/agents/models/
